<h1>Editing Stock Details</h1>

<%= render 'form', apexftdatum: @apexftdatum %>

<button type="button" class="btn btn-elegant">
  <%= link_to 'Show', @apexftdatum %>
</button>
<button type="button" class="btn btn-elegant">
  <%= link_to 'Back', apexftdata_path %>
</button>
